*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Using the new box model to reset the sizes*/
}

#Navigation{
    background-color: black;
    border-radius: 5px;
}
.external-link, .about{
    color: cadetblue;
}
body{
    background-color: antiquewhite;
    font-family: Georgia;
}
.booking{
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Georgia;
}
#about{
    text-align: center;
    font-family: Cambria;
    font-weight: 900;
}
.welcome-note{
    text-align: center;
    opacity: 0.50;
    font-style: italic;
    font-weight: 900;
    border: 1px solid red;
    border-radius: 15px;
}
.paragraph-1, .paragraph-2, .paragraph-3{
    font-family: verdana;
    font-size: 18px;
    text-align: center;
    margin: 40px 40px;
}
.name1, .name2, .name3, .name4{
    color: red;
}
#reference{
    position: absolute;
    bottom: 0;
    right: 0;
}
.business-owner{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    float: bottom right;
    border: thin gold solid;
    display: flex;
    margin: 30px 40px;
}
figcaption{
    color: black;
    text-align: center;
    display: inline;
    caption-side: bottom;
    margin: 10px 20px;
}
.btn-2{
    color: black;
    position: relative;
    top: 0;
    right: 0;
}
#btn-1{
    width: 60px;
    height: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    color: black;
}
#btn-1:hover{
    background-color: red;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%);
    font-size: 12px;
  }
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }

  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$colors: (
  primary: #084546,
  secondary: #DFC8A1
);

@function color($colorname){
  @return map-get($colors, $colorname)
}

*,:before,:after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: color(secondary);
  
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: ". header ."
                      ". hero .";
  
  .bg{
    clip-path: polygon(37% 0, 100% 0, 100% 54%, 70% 100%, 0 100%, 0 48%);
    background-color:   color(primary);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  .logo{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: color(primary);
  }
  
  .nav-links{
    display: flex;
    
    .nav-link{
      list-style: none;
      padding: 1rem;
      
      a{
        text-decoration: none;
        color: color(secondary);
      }
    }
  }
  
  .menu-btn{
    display: none;
  }
  
  .menu-icon{
    cursor: pointer;
    padding: .5rem;
    position: relative;
    z-index: 1;
    display: none;
    
    span{
      height: 2px;
      width: 20px;
      border-radius: 5x;
      background-color: color(secondary);
      display: block;
      position: relative;
      
      &::before,
      &::after{
        content: '';
        height: 100%;
        width: 100%;
        background-color: color(secondary);
        position: absolute;
      }
      
      &::before{
        transform: translateY(6px);
      }
      &::after{
        transform: translateY(-6px);
      }
    }
  }
}

.hero{
  grid-area: hero;
  color: color(secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  h2{
    font-size: 3rem;
  }
}

/* // MEDIA QUERY START*********** */

@media screen and (max-width:800px){
  
  header{
    
    .nav-links{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.95);
      
      opacity: 0;
      clip-path: circle(200px at top right);
      transition: clip-path .8s .5s, opacity 1s .5s;
      
      .nav-link{
        margin: 1em;
        opacity: 0;
        transform: translateX(100%);
        transition: opacity .4s ease-in-out,
                    transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        
        &:nth-of-type(1){
          transition-delay: 0.1s;
        }
        &:nth-of-type(2){
          transition-delay: 0.2s;
        }
        &:nth-of-type(3){
          transition-delay: 0.3s;
        }
        
        a{
          font-size: 2rem;
          text-transform: uppercase;
        }
      }
    }

    .menu-icon{
      display: block;
      
      span{
        animation: closemid 0.8s backwards;
        animation-direction: reverse;
        
        &::before{
          animation: closebtm 0.8s backwards;
          animation-direction: reverse;
        }
        &::after{
          animation: closetop 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }
    
    .menu-btn:checked ~ .menu-icon{
      border-radius: 50%;
      animation: pulse 1s;
      
      span{
        animation: openmid 0.8s forwards;
        
        &::before{
          animation: openbtm 0.8s forwards;
        }
        &::after{
          animation: opentop 0.8s forwards;
        }
      }
    }
    .menu-btn:checked ~ .nav-links{
      opacity: 1;
      clip-path: circle(100% at center);
      
      .nav-link{
        opacity: 1;
        transform: translateX(0);
        
        transition: opacity .4s ease-in-out ,
                    transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
        
        &:nth-of-type(1){
          transition-delay: 0.7s;
        }
        &:nth-of-type(2){
          transition-delay: 0.8s;
        }
        &:nth-of-type(3){
          transition-delay: 0.9s;
        }
      }
    }
  }
}


/* // ANIMATION********** */

@keyframes pulse{
  from{
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to{
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes opentop{
  0%{
    transform: translateY(-6px) rotate(0deg);
  }
  50%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes closetop{
  0%{
    transform: translateY(-6px) rotate(0deg);
  }
  50%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes openmid{
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(45deg);
  }
}

@keyframes closemid{
  50%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(45deg);
  }
}

@keyframes openbtm{
  0%{
    transform: translateY(6px) rotate(0deg);
  }
  50%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes closebtm{
  0%{
    transform: translateY(6px) rotate(0deg);
  }
  50%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(0) rotate(90deg);
  }
}
  